.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 1rem 0 0.5rem 0;
    margin-bottom: 1.5rem;
}

.swiper {
    position: relative;
    padding-bottom: 50px;
}

.swiper-slide img {
    width: 100%;
    display: block;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.swiper-button-prev, .swiper-button-next {
    display: block;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
        padding: 3.2rem 0 1rem 0;
    }
    
    .swiper {
        width: 60%;
    }

    .swiper-slide {
        margin: 2rem;
    }
}
