.cadastro {
    background-color: var(--branco);
    font-weight: 400;
    font-size: 16;
    padding: 1.5rem;
    text-align: left;
}

.cadastro__titulo, 
.cadastro__texto, 
.cadastro__email {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cadastro__titulo {
    font-size: 18px;
    text-decoration: none;
}

.cadastro__texto {
    font-weight: 300;
    margin: 8px 0 24px 0;
}

.cadastro__email {
    border-radius: 1.5rem;
    background-color: transparent;
    border: 1px solid black;
    color: var(--azul-degrade);
    padding: 0.5rem;
    width: 95%;
}

.cadastro__email::placeholder {
    color: var(--branco);
    font-weight: 400;
    text-align: left;
    padding-left: 3rem;
    background: url("/assets/Email.png") no-repeat;
    background-position: 1rem;
}

@media screen and (min-width: 1024px) {
    .cadastro {
        display: flex;
        padding: 3rem 12rem 3rem 12rem;
        align-items: center;
    }

    .cadastro__titulo {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .cadastro__email {
        width: 50%;
        height: 10%;
    }
}

@media screen and (min-width: 1728px) {
    .cadastro {
        gap: 2rem;
        padding: 3rem 30rem;
    }
    
    .cadastro__email {
        width: 35%;
    }
}