.card, .card-secundario {
    background-color: var(--branco);
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .4rem;
    padding: 1rem;
}

.card__titulo, .card-secundario__titulo {
    color: var(--laranja);
    font-weight: 700;
    font-size: 1rem;
}

.card__subtitulo, .card-secundario__subtitulo {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 18px;
}

.card__texto, .card-secundario__texto {
    font-size: 14px;
}

.card__botao, .card-secundario__botao {
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1rem 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.card__esquerda, .card__direita, .card-secundario__esquerda, .card-secundario__direita {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: block;
}

.card__direita, .card-secundario__direita {
    justify-content: space-around;
}

.card__icones {
    position: relative;
    top: 5%;
}

.card-secundario__icones {
    position: relative;
    top: 5%;
}

@media screen and (min-width: 1024px) {
    .card, .card-secundario {
        width: 40%;
        margin: 3rem auto;
    }

    .card__icones {
        position: relative;
        top: 15%;
    }
    
    .card-secundario__icones {
        position: relative;
        top: 25%;
    }
}
